version: '3.9'

services:
  appointment-db:
    image: mongo:7
    container_name: appointment-db
    ports:
      - "27018:27017"
    volumes:
      - appointment-db-data:/data/db

  appointment-service:
    build: .
    container_name: appointment-service
    ports:
      -  "4001:5001"
    environment:
      - PORT=5001
      - MONGO_URI=mongodb://appointment-db:27017/appointmentdb
    depends_on:
      - appointment-db

volumes:
  appointment-db-data:
